@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Catppuccin Latte */
    --Rosewater: hsl(11, 59%, 67%);
    --Flamingo: hsl(0, 60%, 67%);
    --Pink: hsl(316, 73%, 69%);
    --Mauve: hsl(266, 85%, 58%);
    --Red: hsl(347, 87%, 44%);
    --Maroon: hsl(355, 76%, 59%);
    --Peach: hsl(22, 99%, 52%);
    --Yellow: hsl(35, 77%, 49%);
    --Green: hsl(109, 58%, 40%);
    --Teal: hsl(183, 74%, 35%);
    --Sky: hsl(197, 97%, 46%);
    --Sapphire: hsl(189, 70%, 42%);
    --Blue: hsl(220, 91%, 54%);
    --Lavender: hsl(231, 97%, 72%);
    --Text: hsl(234, 16%, 35%);
    --Subtext1: hsl(233, 13%, 41%);
    --Subtext0: hsl(233, 10%, 47%);
    --Overlay2: hsl(232, 10%, 53%);
    --Overlay1: hsl(231, 10%, 59%);
    --Overlay0: hsl(228, 11%, 65%);
    --Surface2: hsl(227, 12%, 71%);
    --Surface1: hsl(225, 14%, 77%);
    --Surface0: hsl(223, 16%, 83%);
    --Base: hsl(220, 23%, 95%);
    --Mantle: hsl(220, 22%, 92%);
    --Crust: hsl(220, 21%, 89%);
    /* DETERMING VARIABLES */
    --radius1: 0.5rem;
    --radius2: 1rem;
    /* LIGHTMODE ONLY */
    --primary_bg: var(--Base);
    --primary_fg: var(--Text);
    --secondary_bg: var(--Mantle);
    --secondary_fg: var(--Subtext0);
    --highlight_fg: var(--Lavender);
    --accent1: var(--Sky);
    --accent2: var(--Pink);
    --accent3: var(--Lavender);
    --accent_fg: hsl(240, 23%, 9%);
  }

  .dark {
    /* Catppuccin Mocha */
    --Rosewater: hsl(10, 56%, 91%);
    --Flamingo: hsl(0, 59%, 88%);
    --Pink: hsl(316, 72%, 86%);
    --Mauve: hsl(267, 84%, 81%);
    --Red: hsl(343, 81%, 75%);
    --Maroon: hsl(350, 65%, 77%);
    --Peach: hsl(23, 92%, 75%);
    --Yellow: hsl(41, 86%, 83%);
    --Green: hsl(115, 54%, 76%);
    --Teal: hsl(170, 57%, 73%);
    --Sky: hsl(189, 71%, 73%);
    --Sapphire: hsl(199, 76%, 69%);
    --Blue: hsl(217, 92%, 76%);
    --Lavender: hsl(232, 97%, 85%);
    --Text: hsl(226, 64%, 88%);
    --Subtext1: hsl(227, 35%, 80%);
    --Subtext0: hsl(228, 24%, 72%);
    --Overlay2: hsl(228, 17%, 64%);
    --Overlay1: hsl(230, 13%, 55%);
    --Overlay0: hsl(231, 11%, 47%);
    --Surface2: hsl(233, 12%, 39%);
    --Surface1: hsl(234, 13%, 31%);
    --Surface0: hsl(240, 22%, 18%);
    /*
    --Surface0: hsl(237, 16%, 23%);
    */
    --Base: hsl(240, 21%, 15%);
    --Mantle: hsl(240, 21%, 12%);
    --Crust: hsl(240, 23%, 9%);

    /* DARKMODE ONLY */
    --primary_bg: var(--Base);
    --primary_fg: var(--Text);
    --secondary_bg: hsl(240, 22%, 18%);
    --secondary_fg: var(--Subtext0);
    --accent1: var(--Sapphire);
    --accent2: var(--Mauve);
    --accent3: var(--Lavender);
    --accent_fg: var(--Crust);
    --highlight_fg: var(--Lavender);
  }
}

@layer base {
  * {
    @apply border-accent3;
  }

  body {
    @apply bg-primary_bg text-primary_fg;
  }
}

.hoverbg {
  @apply duration-500 hover:bg-accent3 hover:opacity-70;
}

.hovertxt {
  @apply hover:text-accent1;
}

.active-header-link {
  @apply bg-accent1;
}

.background-grid-color {
  @apply bg-gradient-to-t from-primary_bg via-transparent to-transparent;
}

.heading {
  @apply text-4xl font-semibold;
}

.text-gradient {
  @apply inline-block bg-gradient-to-r bg-clip-text text-transparent;
}

.main-background {
  background-size: 50px 50px;
  background-image: linear-gradient(to left, rgba(153, 153, 153, 0.163) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(153, 153, 153, 0.163) 1px, transparent 1px);
  animation: unblur 1s ease-out forwards;
}

.bento-grid-box {
  @apply rounded-lg bg-secondary_bg p-4 py-7 text-primary_fg dark:text-accent3 md:p-10;
}

.bento-grid-text {
  @apply text-lg text-secondary_fg;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }

  to {
    filter: blur(0px);
  }
}

.unblur-animation {
  animation: unblur 1s ease-out forwards;
}

.autosize-none {
  resize: none;
}

a {
  @apply !outline-none;
}
